<!DOCTYPE html>
<html>

  <head>

    <title>{{title}}</title>

    <!-- import jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- import SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  </head>
  
  <body>
    <div id="HeaderBanner" class="PageHeader">
      <h1>{{title}}</h1>
    </div><!--[END HeaderBanner]-->
    <div id="MainBody">
      {% block content %}
      {% endblock %}
    </div>
  </body>

  <footer>
  </footer>

</html>
