<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
  </head>

  
  <body>


    <!-- The HeaderBanner contains the banner image, and the page title. -->
    <!-- Site-Navigation could also be employed ;) -->
    <div id="HeaderBanner" class="PageHeader">

      <!-- The banner image spans the width of the page; but the page should
      scale to no more than around 85% of the actual horizontal dimensions
      of the screen. -->
      <div id="BannerImage" class="BannerImage PageWidth">

        <!-- The banner image should  -->
        <a><!-- The image links to https://guyyatsu.me -->
          <img><!-- The image ia custom graphic by Y.T. -->
        </a>

        <span></span><!-- The motto for my space. -->

      </div><!--[END BannerImage]-->

      <!-- The page title should float to the left of the screen. -->
      <h1>{{title}}</h1>

    </div><!--[END HeaderBanner]-->


    <!-- The DynamicBody contains the special content meant to be rendered by the page.-->
    <div id="DynamicBody">

    </div><!--[END DynamicBody]-->

  </body>


  <footer>

  </footer>

</html>